// Place all the styles related to the Photographs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar{
	height: 3.5em;
	width: 100%;
	background-color: darkred;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	box-sizing: border-box;
}
.navbar a{
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	font-family: 'Gloria Hallelujah', cursive;
}
#photograph{
	width: 1024px;
	height: 700px;
	
}

.choose-character-menu{
	position:absolute;
	color:white;
	top: 0;
	left:50px;
	display: none;
	background-color:rgba(1,2,3,0.5);
	padding:1em;
	border-radius:10px;
    z-index:2;

}
.choose-character-menu p{
	margin:0;padding:0;
	font-size:14px;
}
.option:hover{
	background-color:rgba(1,2,3,0.8);
	cursor:pointer;
}
#photograph-wrapper{
	position:relative;
	width:1024px;
	height:700px;
}
#side-content{
	width: 50px;
    height: 700px;
   	top:4em;
    position: absolute;
    margin-left: 1050px;
}
#side-content::after{
	content:"";
	display:table;
	clear:both;
}
.character-photo{
	width: 95px;
	height: 180px;
	border: 5px solid red;
	padding-top: 25px;
}
.rectangle{
	position:absolute;
	background-color: rgba(1,2,3,0.5);
}
.character-photo-wrapper{
	position: relative;
	width: 100px;
	background-color: white;
	height: 210px;
	margin-bottom: 10px;
}
.character-photo-name{
	position: absolute;
	left: 25px;
	-ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
	top: 8px;

	font-size: 18px;
	font-family: 'Gloria Hallelujah', cursive;
	color: black
}
#feedback{
	position: absolute;
	display:none;
	font-size:18px;
	background-color: white;
	padding: 5px;
    z-index: 1;
}
#feedback:hover{
	display:none;
}
.correct{
	border: 5px solid green;
}
.wrong{
	border: 5px solid red;
}
#cover-photograph{
	width: 100%;
	height: 100%;
	background-color: rgba(1,2,3,0.2);
	position: absolute;
	top: 0;
	display: none;
}
#player-form{
	position: absolute;
	top: 100px;
	left: 300px;
	background-color: beige;
	z-index: 3;
	padding: 2em;
	border-radius: 10px;
	display:none;
}
#player-form p{
	text-align: center;
}
#player-form #header{
	color:red;
	font-size: 2em;
}
#playerScore{
	color:green;
}
h1, h3, #play_again_btn{
	text-align:center;
}
#play_again_btn a{
	text-decoration: none;
    padding: 0.5em;
    background-color: red;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
#play_again_btn a:hover{
    background-color: rgba(1,2,3,0.5);
}
#score_table{
    text-align:center;
    width:70%;
    margin-top:2em;
    margin-left:15%;
}
td, th{
    border: 1px solid #dddddd;
    padding:8px;
    background-color:white;
}
th{
    width:70%;
}
td{
    width:30%;
}
#current_user{
    color:green;
}
#congrats-wrapper{
	position: absolute;
	top: 100px;
	left: 400px;
	text-align: center;
	background-color: cornsilk;
	border-radius: 10px;
	padding: 2.5em;
	display:none;
}
#congrats-wrapper p:first-child{
	font-size:2em;
}
#new_user{
	width: 80%;
	margin-left: 10%;
}
a:focus{
	outline:none;
}
@media only screen and (max-width: 600px){
	h1{
		font-size:1em;
	}
	h2{
		font-size: 12px;
		background-color:#76A7E3;
	}
	.navbar a{
		font-size:18px;
	}
	.navbar {
	height: 2.8em;
	}
	.welcome{
		margin:0;
		padding-bottom:1em;
		padding-top:2.5em;
	}
}