// Place all the styles related to the Photographs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photograph{
	width: 1024px;
	height: 800px;
	
}
.zoom-btns{
	width: 5em;
}
.zoom-btn p{
	margin:0;
}
.zoom-btns::after{
	content: "";
	display: table;
	clear: both;
}

.zoom-btn{
	float: left;
	width:50%;
	text-align:center;
	cursor: pointer;
}

#minus-btn{
	background-color: grey;
	border-radius: 50px 15px 5px 30px;
	box-sizing: border-box;

}

#plus-btn{
	background-color: rgb(244, 166, 9);
	box-sizing: border-box;
	border-radius: 15px 50px 30px 5px;
}
#zoom-wrapper{
	margin-bottom: 1em;
}
.choose-character-menu{
	position:absolute;
	color:white;
	top: 0;
	left:50px;
	visibility: hidden;
	background-color:rgba(1,2,3,0.5);
	padding:1em;
	border-radius:10px;
    z-index:2;

}
.choose-character-menu p{
	margin:0;padding:0;
	font-size:14px;
}
.option:hover{
	background-color:rgba(1,2,3,0.8);
	cursor:pointer;
}
#photograph-wrapper{
	position:relative;
	width:1024px;
}
#side-content{
	width: 50px;
    height: 800px;
   
    position: absolute;
    margin-left: 1050px;
    top: 55px;
}
#side-content::after{
	content:"";
	display:table;
	clear:both;
}
.character-photo{
	width: 95px;
	height: 180px;
	border: 5px solid red;
	padding-top: 25px;
}
.rectangle{
	position:absolute;
	background-color: rgba(1,2,3,0.5);
}
.character-photo-wrapper{
	position: relative;
	width: 100px;
	background-color: white;
	height: 210px;
	margin-bottom: 10px;
}
.character-photo-name{
	position: absolute;
	left: 25px;
	-ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
	top: 8px;

	font-size: 18px;
	font-family: 'Gloria Hallelujah', cursive;
	color: black
}
#feedback{
	position: absolute;
	display:none;
	font-size:18px;
	background-color: white;
	padding: 5px;
    z-index: 1;
}
.correct{
	border: 5px solid green;
}
.wrong{
	border: 5px solid red;
}
#cover-photograph{
	width: 100%;
	height: 100%;
	background-color: rgba(1,2,3,0.2);
	position: absolute;
	top: 0;
	display: none;
}
#player-form{
	position: absolute;
	top: 100px;
	left: 400px;
	background-color: beige;
	z-index: 3;
	padding: 2em;
	border-radius: 10px;
	display:none;
}
#player-form p{
	text-align: center;
}
#player-form #header{
	color:red;
	font-size: 2em;
}
#playerScore{
	color:green;
}